
 .schema-form .ant-form-item {
     margin-bottom: var(--schema-gap)
 }

 .schema-form :where(.css-dev-only-do-not-override-1hsjdkk).ant-form-item .ant-form-item-label>label {
     height: var(--schema-height)
 }

 .schema-form :where(.css-dev-only-do-not-override-1hsjdkk).ant-form-item .ant-form-item-control-input {
     min-height: var(--schema-height)
 }
